# SPDX-License-Identifier: GPL-2.0-only

config MSTAR_MSC313_BDMA
	tristate "MStar MSC313 BDMA support"
	depends on ARCH_MSTARV7 || COMPILE_TEST
	select DMA_ENGINE

config MSTAR_MSC313_CMDQ
	tristate "MStar MSC313 CMDQ support"
	depends on ARCH_MSTARV7 || COMPILE_TEST
	select DMA_ENGINE

config MSTAR_MSC313_URDMA
	tristate "MStar MSC313 URDMA support"
	depends on ARCH_MSTARV7 || COMPILE_TEST
	select DMA_ENGINE

config SSTAR_SSD20XD_MOVEDMA
	tristate "SigmaStar SSD20xD MOVEDMA support"
	depends on ARCH_MSTARV7 || COMPILE_TEST
	select DMA_ENGINE
