# SPDX-License-Identifier: GPL-2.0-only
config MSTAR_MSC313_MPLL
	bool "MStar MPLL driver"
	depends on ARCH_MSTARV7 || COMPILE_TEST
	default ARCH_MSTARV7
	select REGMAP_MMIO
	help
	  Support for the MPLL PLL and dividers block present on
	  MStar/Sigmastar SoCs.

config MSTAR_MSC313_CPUPLL
	bool "MStar CPUPLL driver"
	depends on ARCH_MSTARV7 || COMPILE_TEST
	default ARCH_MSTARV7
	help
	  Support for the CPU PLL present on MStar/Sigmastar SoCs.

config MSTAR_MSC313_UPLL
	bool "MStar UPLL driver"
	depends on ARCH_MSTARV7 || COMPILE_TEST
	default ARCH_MSTARV7
	help
	  Support for the USB PLL present on MStar/Sigmastar SoCs.

config MSTAR_MSC313_LPLL
	bool "MStar LPLL driver"
	depends on ARCH_MSTARV7 || COMPILE_TEST
	default ARCH_MSTARV7
	help
	  Support for the Line PLL present on MStar/Sigmastar SoCs.

config MSTAR_MSC313_MIUPLL
	bool "MStar MIUPLL driver"
	depends on ARCH_MSTARV7 || COMPILE_TEST
	default ARCH_MSTARV7
	help
	  Support for the MIU PLL present on MStar/Sigmastar SoCs.

config MSTAR_MSC313_PM_MUXES
	bool "MStar PM region muxes driver"
	depends on ARCH_MSTARV7 || COMPILE_TEST
	default ARCH_MSTARV7
	help
	  Support for the muxes embedded in the pm region.

config MSTAR_MSC313_CLKGEN
	bool "MStar CLKGEN driver"
	depends on ARCH_MSTARV7 || COMPILE_TEST
	default ARCH_MSTARV7
	help
	  Support for CLKGEN.

config MSTAR_MSC313_SC_GP_CTRL_MUXES
	bool "MStar SC GP CTRL muxes driver"
	depends on ARCH_MSTARV7 || COMPILE_TEST
	default ARCH_MSTARV7
	help
	  Support for the muxes embedded in the sc-gp-ctrl registers.
