// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright (c) 2020 thingy.jp.
 * Author: Daniel Palmer <daniel@thingy.jp>
 */

#include "mstar-infinity.dtsi"

&cpus {
	cpu1: cpu@1 {
		device_type = "cpu";
		compatible = "arm,cortex-a7";
		reg = <0x1>;
		clocks = <&cpupll>;
		clock-names = "cpuclk";
		operating-points-v2 = <&cpu0_opp_table>;
	};
};

&cpu0_opp_table {
	opp-1008000000 {
		opp-hz = /bits/ 64 <1008000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
	};

	opp-108000000 {
		opp-hz = /bits/ 64 <1080000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
	};

	opp-1188000000 {
		opp-hz = /bits/ 64 <1188000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
	};

	opp-1296000000 {
		opp-hz = /bits/ 64 <1296000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
	};

	/* Overclock. Stable upto 1.8GHz */
	opp-1350000000 {
		opp-hz = /bits/ 64 <1350000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
		turbo-mode;
	};

	opp-1404000000 {
		opp-hz = /bits/ 64 <1404000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
		turbo-mode;
	};

	opp-1458000000 {
		opp-hz = /bits/ 64 <1458000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
		turbo-mode;
	};

	opp-1512000000 {
		opp-hz = /bits/ 64 <1512000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
		turbo-mode;
	};

	opp-1600000000 {
		opp-hz = /bits/ 64 <1600000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
		turbo-mode;
	};

	opp-1700000000 {
		opp-hz = /bits/ 64 <1700000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
		turbo-mode;
	};

	opp-1800000000 {
		opp-hz = /bits/ 64 <1800000000>;
		opp-microvolt = <1000000>;
		clock-latency-ns = <300000>;
		turbo-mode;
	};
};

&pmu {
		interrupts = <GIC_SPI 10 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 16 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-affinity = <&cpu0>, <&cpu1>;
};

&soc {
	//start address for second cpu
	//0x1F20404C
	//0x1F204050
	//0x1F204058 -- unlock
};

&riu {
	mmu: mmu@2600 {
	};

	pwm: pwm@3400 {
		compatible = "mstar,ssd20xd-pwm";
		reg = <0x3400 0x400>;
		#pwm-cells = <2>;
		clocks = <&xtal_div2>;
	};

	rtcpwc@6800 {
		compatible = "sstar,ssd20xd-rtcpwc";
		reg = <0x6800 0x200>;
	};

	movedma: movedma@201600 {
		compatible = "sstar,ssd20xd-movedma";
		reg = <0x201600 0x200>;
		interrupts-extended = <&intc_irq GIC_SPI 60 IRQ_TYPE_LEVEL_HIGH>;
	};

	smpctrl: smpctrl@204000 {
		reg = <0x204000 0x200>;
		status = "disabled";
	};

	gpi: interrupt-controller@207a00 {
		compatible = "sstar,ssd20xd-gpi";
		reg = <0x207a00 0x200>;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupts-extended = <&intc_irq GIC_SPI 56 IRQ_TYPE_LEVEL_HIGH>;
	};

	display: display@0 {
		compatible = "sstar,ssd20xd-drm";
		ports = <&mopg>,<&mops>,<&gop0>,<&gop1>,<&op2>,<&displaytop>,<&dsi>;
	};

	ge: ge@224000 {
		// TBC, address from DTS
		reg = <0x224000 0x200>;
		interrupts-extended = <&intc_irq GIC_SPI 25 IRQ_TYPE_LEVEL_HIGH>;
	};

	displaytop: top@225000 {
		compatible = "sstar,ssd20xd-display-top";
		reg = <0x225000 0x200>;
		interrupts-extended = <&intc_irq GIC_SPI 50 IRQ_TYPE_LEVEL_HIGH>;
	};

	op2: op2@225200 {
		compatible = "sstar,ssd20xd-op2";
		reg = <0x225200 0x200>;
		status = "disabled";
	};

	// all zeros
	osd: osd@243000 {

	};

	// all zeros
	scl_to_gop@243400 {
	};

	dip_to_gop@247400 {

	};

	gop1: gop@246800 {
		compatible = "sstar,ssd20xd-gop1";
		reg = <0x246800 0x400>;
	};

	mopg: mopg@280a00 {
		compatible = "sstar,ssd20xd-mopg";
		reg = <0x280a00 0x600>;
		clocks = <&clkgen MSC313_CLKGEN_DEGLITCHES MSC313_CLKGEN_MOP 0>;
	};

	mops: mops@281000 {
		compatible = "sstar,ssd20xd-mops";
		reg = <0x281000 0x200>;
	};

	moprot: moprot@281a00 {
		reg = <0x281a00 0x200>;
	};

	upll1: upll@283e00 {
		#clock-cells = <1>;
		compatible = "mstar,msc313-upll";
		reg = <0x283e00 0x20>;
		clock-output-names = "upll1_384", "upll1_320";
		clock-rates = <384000000>, <320000000>;
		clocks = <&xtal>;
	};

	utmi2: utmi@284a00 {
		compatible = "syscon";
		reg = <0x284a00 0x80>;
	};

	usbc2: usbc@284e00 {
		compatible = "syscon";
		reg = <0x284e00 0x20>;
	};

	usbphy2: usbphy@2 {
		#phy-cells = <1>;
		compatible = "mstar,msc313-usb-phy";
		clocks = <&xtal_div2>;
		mstar,utmi = <&utmi2>;
		mstar,usbc = <&usbc2>;
		status = "disabled";
	};

	uhc2: uhc@285000 {
		compatible = "mstar,msc313-ehci";
		reg = <0x285000 0x200>;
		interrupts-extended = <&intc_irq GIC_SPI 33 IRQ_TYPE_LEVEL_HIGH>;
		phys = <&usbphy2 0>;
		phy-names = "usb";
		mstar,usbc = <&usbc2>;
		status = "disabled";
	};

	dphy: dphy@2a5000 {
		compatible = "sstar,ssd20xd-dphy";
		reg = <0x2a5000 0x200>;
		#phy-cells = <0>;
	};

	vpu: video-codec@344800 {
		compatible = "sstar,ssd20xd-vdec";
		reg = <0x344800 0x800>;
		clocks = <&clkgen MSC313_CLKGEN_DEGLITCHES SSD20XD_CLKGEN_DEC_PCLK 0>,
			<&clkgen MSC313_CLKGEN_DEGLITCHES SSD20XD_CLKGEN_DEC_ACLK 0>,
			<&clkgen MSC313_CLKGEN_DEGLITCHES SSD20XD_CLKGEN_DEC_BCLK 0>,
			<&clkgen MSC313_CLKGEN_DEGLITCHES SSD20XD_CLKGEN_DEC_CCLK 0>;
		interrupts-extended = <&intc_irq GIC_SPI 21 IRQ_TYPE_LEVEL_HIGH>;
		interconnects = <&miu 0>;
		interconnect-names = "dma-mem";
		status = "disabled";
	};

	sata: ahci@345000 {
		compatible = "generic-ahci";
		reg = <0x345000 0x1000>;
		interrupts-extended = <&intc_irq GIC_SPI 18 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&clkgen MSC313_CLKGEN_DEGLITCHES SSD20XD_CLKGEN_SATA 0>;
		status = "disabled";
	};

	dsi: dsi@345200 {
		compatible = "sstar,ssd20xd-dsi";
		reg = <0x345200 0x400>;
		interrupts-extended = <&intc_irq GIC_SPI 57 IRQ_TYPE_LEVEL_HIGH>;
		phy-names = "dphy";
		phys = <&dphy>;
		clock-names = "engine", "digital", "hs";
		clocks = <&xtal_div2>, <&xtal_div2>, <&xtal_div2>;
		status = "disabled";
	};
};

&aesdma {
	compatible = "sstar,ssd20xd-aesdma";
};

&bdma {
	compatible = "sstar,ssd20xd-bdma";
	reg = <0x200400 0x100>;
	interrupt-parent = <&intc_irq>;
	interrupts = <GIC_SPI 40 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 41 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 61 IRQ_TYPE_LEVEL_HIGH>,
		     <GIC_SPI 62 IRQ_TYPE_LEVEL_HIGH>;
};

&gop0 {
	compatible = "sstar,ssd20xd-gop0";
	status = "okay";
};

&gpio {
	interrupt-parent = <&gpi>;
};

&uhc0 {
	interrupts-extended = <&intc_irq GIC_SPI 55 IRQ_TYPE_LEVEL_HIGH>;
};

&uhc1 {
	interrupts-extended = <&intc_irq GIC_SPI 31 IRQ_TYPE_LEVEL_HIGH>;
};

&phy {
	compatible = "ethernet-phy-idDEAD.B33F";
};

&emac {
	compatible = "mstar,msc313e-emac";
	reg = <0x2a2000 0x400>,
	      <0x343c00 0x400>;
};

&imi {
	reg = <0xa0000000 0x10000>;
};

&sc_gp_ctrl_muxes {
	compatible = "sstar,ssd20xd-sc-gp-ctrl-muxes";
	clock-names = "eth_buf", "rmii_buf","xtal_div2", "sdio_clkgen";
	clocks = <&eth_buf>,
		 <&rmii_buf>,
		 <&xtal_div2>,
		 <&clkgen MSC313_CLKGEN_DEGLITCHES MSC313_CLKGEN_SDIO 0>;
};

&clkgen {
	compatible = "sstar,ssd20xd-clkgen";
};

&sdio {
	clocks = <&sc_gp_ctrl_muxes SSD20XD_SC_GP_SDIO_GATE>;
};
