// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright (c) 2020 thingy.jp.
 * Author: Daniel Palmer <daniel@thingy.jp>
 */

#include <dt-bindings/gpio/mstar.h>
#include <dt-bindings/pinctrl/mstar.h>

#include "mstar-pioneer3.dtsi"

/ {
	memory@20000000 {
		device_type = "memory";
		reg = <0x20000000 0x4000000>;
	};
};

&pinctrl_pm {
	compatible = "sstar,ssd210-pm-pinctrl";
};

&sar {
	compatible = "sstar,ssd210-sar";
	status = "okay";
};
