// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright (c) 2020 thingy.jp.
 * Author: Daniel Palmer <daniel@thingy.jp>
 */

/dts-v1/;
#include "mstar-infinity2m-ssd202d-wirelesstag-ido-som2d01.dtsi"

/ {
	model = "SBC2D70 (SSD202D)";
	compatible = "ido,sbc2d70", "mstar,infinity2m";

	leds {
		compatible = "gpio-leds";
		sys_led {
			gpios = <&gpio SSD20XD_GPIO_GPIO10 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "activity";
		};
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 0 50000>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;
	};

	beeper {
		compatible = "pwm-beeper";
		pinctrl-names = "default";
	        pinctrl-0 = <&pwm1_mode4_pins>;
		pwms = <&pwm 1 1000000>;
	};
/*
	vcc_vbus: regulator@2 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_vbus";
		regulator-type = "voltage";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpios = <&gpio SSD20XD_GPIO_GPIO47 0>;
		enable-active-high;
	};
*/

	vcc_sd: regulator@3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sd";
		regulator-type = "voltage";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&gpio SSD20XD_GPIO_GPIO0 0>;
	};

	vcc_4g: regulator@4 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_4g";
		regulator-type = "voltage";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpios = <&gpio SSD20XD_GPIO_GPIO90 0>;
		enable-active-high;
	};

	vcc_5v: regulator@5 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_5v";
		regulator-type = "voltage";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		//gpios = <&gpio SSD20XD_GPIO_GPIO48 0>;
		//enable-active-high;
	};

	vcc_lcd_sw: regulator-lcd-sw {
		compatible = "regulator-fixed";
		regulator-name = "vcc_5v";
		regulator-type = "voltage";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpios = <&gpio SSD20XD_GPIO_FUART_RTS 0>;
		enable-active-high;
		regulator-always-on;
	};

	panel@0 {
		compatible = "chenchen,cc0702i50r";
		reg = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&ttl_mode1_pins>;
		backlight = <&backlight>;
		port {
			panel_in: endpoint {
				remote-endpoint = <&op2_out>;
			};
		};
	};

	speaker_amp: audio-amplifier {
		compatible = "simple-audio-amplifier";
		enable-gpios = <&gpio SSD20XD_GPIO_GPIO14 GPIO_ACTIVE_HIGH>;
		sound-name-prefix = "Speaker Amp";
		VCC-supply = <&vcc_5v>;
        };
};

&emac {
	pinctrl-names = "default";
	pinctrl-0 = <&emac_mode1_pins>, <&pm_led_mode1_pins>;
	status = "okay";
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_mode1_pins>;
	status = "okay";

	ts@4b {
		compatible = "ti,tsc2007";
		reg = <0x4b>;
		status = "disabled";
	};

	ts@5d {
		compatible = "goodix,gt911";
		reg = <0x5d>;
		interrupts-extended = <&gpio SSD20XD_GPIO_GPIO13 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&gpio SSD20XD_GPIO_GPIO1 GPIO_ACTIVE_HIGH>;
		interrupt-gpios = <&gpio SSD20XD_GPIO_GPIO13 GPIO_ACTIVE_HIGH>;
	};
};

&sdio {
	vmmc-supply = <&vcc_sd>;
	pinctrl-0 = <&sdio_mode1_8ma_pins>;
	status = "okay";
};

&display {
	ports = <&mopg>,<&mops>,<&gop0>,<&gop1>,<&op2>,<&displaytop>;
};

&op2 {
	status = "okay";

	ports {
		port@0 {
			reg = <0>;
			op2_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};

&pwm {
	pinctrl-names = "default";
        pinctrl-0 = <&pwm0_mode3_pins>;
};

&usbphy2 {
	//vbus-supply = <&vcc_vbus>;
	status = "okay";
};

&uhc2 {
	status = "okay";
};

&bach {
	audio-aux-devs = <&speaker_amp>;
};

&vpu {
	status = "okay";
};
