// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright (c) 2020 thingy.jp.
 * Author: Daniel Palmer <daniel@thingy.jp>
 */

#include <dt-bindings/gpio/mstar.h>
#include <dt-bindings/pinctrl/mstar.h>

#include "mstar-infinity.dtsi"

/ {
	memory@20000000 {
		device_type = "memory";
		reg = <0x20000000 0x4000000>;
	};
};

&pinctrl {
	compatible = "mstar,msc313-pinctrl";
};

&pinctrl_pm {
	compatible = "mstar,msc313-pm-pinctrl";
};

&gpio_pm {
	compatible = "mstar,msc313-gpio-pm";
	gpio-ranges = <&pinctrl_pm MSC313_PM_GPI04 PIN_MSC313_PM_GPIO4 1>,
		      <&pinctrl_pm MSC313_PM_SD_SDZ PIN_MSC313_PM_SD_CDZ 1>;
	interrupts-extended = <&gpio_pm MSC313_PM_GPI04 6 IRQ_TYPE_LEVEL_HIGH>,
			      <&intc_fiq GIC_SPI 23 IRQ_TYPE_LEVEL_HIGH>;
	status = "okay";
};
